absl-py
annotated-types
anyio
astunparse
cachetools
certifi
charset-normalizer
click
fastapi
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h11
h5py
httptools
idna
keras
libclang
Markdown
MarkupSafe
ml-dtypes
numpy
oauthlib
opencv-python
opt-einsum
packaging
protobuf
pyasn1
pyasn1-modules
pydantic
pydantic_core
python-dotenv
python-multipart
PyYAML
requests
requests-oauthlib
rsa
six
sniffio
starlette
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
typing_extensions0
urllib3
uvicorn
uvloop
watchfiles
websockets
Werkzeug
wrapt
